<div class="cert-storage-container">

  <ng-container *ngIf="!isAddingCert;else addingCert">

    <div class="column">
      <div class="certificate-btn add-btn" (click)="addCert()">Додати</div>

      <ng-container *ngIf="certificates.length;else noCertificates">
        {{certificates}}
      </ng-container>
      <ng-template #noCertificates>
        <p>Нема жодного сертифікату</p>
      </ng-template>
    </div>


  </ng-container>

  <ng-template #addingCert>
    <div class="column">

      <div class="certificate-btn back-btn" (click)="backFromAddingCert()">Назад</div>
    </div>

    <div class="drop-container column">
      Перетягніть файл сертифікату сюди <br> або
      <label class="certificate-btn" for="file-input">Виберіть через стандартний діалог
        <input #fileInput id="file-input" type="file" accept=".cer" (change)="uploadFile($event)" />
      </label>
      <div class="preview">
        <p>No files currently selected for upload</p>
      </div>
    </div>

  </ng-template>

</div>
