
.cert-storage-container
  display: flex
  justify-content: space-between
  gap: 50px
  width: 1000px
  margin: 100px 200px

.column
  display: flex
  flex-direction: column
  align-items: center

.buttons-top
  display: flex
  align-items: center
  gap: 10px

.certificate-btn
  display: flex
  align-items: center
  justify-content: center
  height: fit-content
  padding: 10px 15px
  margin: 20px
  cursor: pointer
  background-color: rgb(235, 235, 235)
  color: rgb(35, 35, 35)
  border: 1px solid rgb(35, 35, 35)
  border-radius: 5px

.certificate-btn input
  display: none

.add-btn,
.back-btn
  width: 80px

.drop-container
  justify-content: center
  width: 400px
  height: 300px
  border: 1px dotted #000
  text-align: center

.drag-over
  border: 1px solid #000
  border-style: 3px solid
  background-color: lightgray

.files-review
  width: 400px
  height: 300px
  padding: 10px

.seleted-file
  display: inline-flex
  align-items: center
  width: 100%
  margin: 5px 15px 0

.delete-file-btn
  min-width: 18px
  margin-right: 10px
  cursor: pointer

.seleted-file img
  display: block

.seleted-file-name
  font-size: 16px

.cert-info
  width: 600px
  padding: 30px
  border: 1px solid #000
  font-size: 18px

.cert-info p
  overflow: auto
